__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.crt
*.pem
*.key
.pytest_cache/
*.coverage
.cache
.ruff_cache/
docker-compose.override.yml
.dockerignore
.DS_Store
.github/secrets.env
logs/
*.log
ca-stage.crt
ca-certificates/
*.o
*.so
*.a
*.out